<%= form_for @message, html: { class: "form-horizontal well" } do |f| %>
  <div class="control-group">
    <%= f.label :content, class: "control-label"  %>
    <div class="controls">
      <%= f.text_area :content, rows: 3, class: "input-xlarge", autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :time, placeholder: 'HH:MM:SS' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date, class: "control-label" %>
    <div class="controls">
      <%= f.date_select :date, use_month_numbers: true, default: session[:pre_date] || Date.today %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
